{% extends 'app/base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}

<div class="container my-5">
    <h1 style="color: darkblue;font-size:xxx-large;">Hey, SmartBuyers!</h1>
    <img align="center" src="{% static "app/images/aboutus.jpg" %}" height="500" width="1300"><br>
    <br>
<i><h1 align="center" style="color:slategrey;font-family:'Britannic Bold';">Our Mission:</h1></i>
<i><h3 align="center" style="">86% of consumers say authenticity is important when choosing a brand to support, so it’s important to get this right. </h3></i>
    <br><hr>
<i><h1 align="center" style="color:slategrey;font-family:'Britannic Bold';">Our Vision:</h1></i>
<i><h3 align="center" style="">To accelerate ecommerce and making online shopping experience better for everyone. </h3></i>
    <br><hr>
<i><h1 align="center" style="color:slategrey;font-family:'Britannic Bold';">About Us:</h1></i>
<i><h3 align="center" style="">At SmartBuy, we believe in team work and good communication as it is the heart of ecommerce and community. Smart Buy E-Commerce Web Application is intended to provide
complete solutions for vendors as well as customers through a single gateway using the internet as
the sole medium.We believe that for ecommerce, gaining trust of customers is important and we try our best to maintain it. We work to provide our customers with the best products at affordable prices at the convenience of their homes. </h3></i>
</div>

{% endblock main-content %}