{% extends 'app/base.html' %}
{% load static %}
{% block title %}Toys{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
     <a href="{% url 'toy' %}" class="list-group-item list-group-item-action" aria-current="true">All Toys</a>
     <a href="{% url 'toydata' 'LEGO'  %}" class="list-group-item list-group-item-action">LEGO</a>
     <a href="{% url 'toydata' 'WireScorts'  %}" class="list-group-item list-group-item-action">WireScorts</a>
     <a href="{% url 'toydata' 'below' %}" class="list-group-item list-group-item-action">Below 10000</a>
     <a href="{% url 'toydata' 'above'%}" class="list-group-item list-group-item-action">Above 10000</a>
   </div>
  </div>
  <div class="col-sm-8 ms-5">
   <div class="row">
    {% for product in toy %}
     <div class="col-sm-6 text-center mb-4">
      <a href="{% url 'product-detail' product.id %}" class="btn">
       <div class="item">
        <img src="{{product.product_image.url}}" alt="" height="300" class="">
        <div class="fw-bold">{{product.title}}</div>
        <div class="fw-bold">₹ {{product.discounted_price}} <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
       </div>
      </a>
     </div>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}